* {
    margin: 0;
    padding: 0;
}

.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;  
    z-index: 1000;
    pointer-events: none;
    background: url(../assets/noise.gif) ;
}

.fancy {
    font-family: argelha;
    font-size: 2vw;
}

.fancy-big {
    font-family: argelha;
}

.entrance {
    font-family: schabo;
    font-size: 24vw;
    color: rgb(233, 211, 150);
}

.first {
    line-height: .59;
    margin: 0;
    padding-top: .3em;
    border: none;
    vertical-align: bottom;
}

.last {
    line-height: 1;
    margin: 0;
    padding-left: 70px;
    border: none;
    margin-top: -3px;
    vertical-align: top;
}

.section {
    display: flex;
    flex-direction: row;
}

.about-title{
    line-height: 1;
    margin: 0;
    text-align: right;
    display: inline;
    border: none;
    margin-top: -3px;
    vertical-align: top;
}

.background {
    background-color: white;
    background-image: url("../assets/background.png");
    background-size: cover;
    
}

.right-text-bar {
    background-color: rgb(233, 211, 150);
    font-family: monument;
    color: rgb(7, 7, 7);
    font-weight: 800;
    font-size: 1vw;
    text-align: right;
    padding-right: 4em;
    letter-spacing: 3px;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.left-text-bar {
    background-color: rgb(233, 211, 150);
    font-family: monument;
    color: rgb(7, 7, 7);
    font-weight: 800;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4em;
    letter-spacing: 3px;
    font-size: 1vw;
}

.horizontal {
    display: inline;
    position: relative;
}

.abstract {
    position: absolute;
    width: 30vw;
    top: -14vw;
    right: 10vw;
    z-index: 2;
}

.about {
    margin: 10px;
    background-color: white;
    font-family: Poppins;
    font-size: 1.3vw;
    font-weight: 600;
    padding: 5vw;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, rgb(233, 211, 150), #fff) border-box;
    border-radius: 0em;
    border: 1vw solid transparent;
}

a:link, a:visited, a:active, a:hover {
    color: rgb(7, 7, 7);
    text-decoration: none;
}

.music-creds {
    background-color: rgb(233, 211, 150);
    border: 2px solid rgb(7, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 10vw;
    letter-spacing: 3px;
    font-size: 1vw;
    border-radius: 10px;
    padding: 3px;
    margin: 7px;
}

